TFC-pretraining/datasets/ECG/test.pt
TFC-pretraining/datasets/ECG/train.pt
TFC-pretraining/datasets/ECG/val.pt
TFC-pretraining/datasets/EMG/test.pt
TFC-pretraining/datasets/EMG/train.pt
TFC-pretraining/datasets/EMG/val.pt
TFC-pretraining/datasets/MIT-BIH/test.pt
TFC-pretraining/datasets/MIT-BIH/train.pt
TFC-pretraining/datasets/MIT-BIH/val.pt
TFC-pretraining/datasets/PTB-XL/test.pt
TFC-pretraining/datasets/PTB-XL/train.pt
TFC-pretraining/datasets/PTB-XL/val.pt
METS/data
.venv
create-datasets/datasets/ECG/test.pt
create-datasets/datasets/ECG/train.pt
create-datasets/datasets/ECG/val.pt
create-datasets/datasets/EMG/test.pt
create-datasets/datasets/EMG/train.pt
create-datasets/datasets/EMG/val.pt
create-datasets/datasets/mit-bih/mitbih_test.csv
create-datasets/datasets/mit-bih/mitbih_train.csv
create-datasets/datasets/ptb-xl/ptbxl_ecg_test.csv
create-datasets/datasets/ptb-xl/ptbxl_ecg_train.csv
create-datasets/datasets/ptb-xl/ptbxl_data_signals100
/home/vitalii/projects/ecg-analysis-with-self-supervised-learning-and-multimodality/TFC-pretraining/code/experiments_logs/ECG_2_MIT-BIH/run1
TFC-pretraining/BERT_pretrain/